RewriteEngine On
RewriteBase http://lcr-structure.test/
#RewriteBase https://beta-test-website.fr/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

